/* wpForo Dynamic CSS Document */

#wpforo-wrap { color: #333333; background: #ffffff } 
#wpforo-wrap .wpforo-subforum i{ color:#999999; }
#wpforo-wrap #footer { background:#e6e6e6;} 
#wpforo-wrap .wpf-p-error { background-color: #e6e6e6; color: #333333; }
#wpforo-wrap .wpf-res-menu { color: #ffffff; }
#wpforo-wrap #wpforo-menu { background-color:#555555; }
#wpforo-wrap #wpforo-menu li { border-right:#777777 1px solid; }
#wpforo-wrap #wpforo-menu li a { color: #ffffff; }

#wpforo-wrap .wpforo-active,
#wpforo-wrap #wpforo-menu li:hover,  
#wpforo-wrap #wpforo-menu .current-menu-item, 
#wpforo-wrap #wpforo-menu .current-menu-ancestor,
#wpforo-wrap #wpforo-menu .current-menu-parent,
#wpforo-wrap #wpforo-menu .current_page_item { background-color: #43a6df!important; }
#wpforo-load { color: #43a6df; }
#wpforo-load i{ color: #43a6df!important; }

#wpforo-wrap .wpf-search input[type="text"]{ color: #555555; background: transparent; }
#wpforo-wrap .wpf-search input[type="text"]:focus{ background: #f5f5f5; }
#wpforo-wrap .wpf-search i{ color: #43a6df; }

#wpforo-wrap #wpforo-poweredby{ background-color:#555555; color: #ffffff; }
#wpforo-wrap #wpforo-title{ color:#333333;}

#wpforo-wrap a:link { color: #3f7796; }
#wpforo-wrap a:visited { color: #3f7796; }
#wpforo-wrap a:hover{ color: #659fbe;}
#wpforo-wrap a:active { color: #659fbe; }

#wpforo-wrap pre { border:#e6e6e6 1px solid; background:#dff4ff; }

.wpfcl-a{ color:#659fbe!important; }
.wpfbg-a{ background-color:#659fbe!important; }
.wpfcl-b{ color:#43a6df!important; }
.wpfbg-b{ background-color:#43a6df!important; }
.wpfcl-0{ color:#999999!important; } 
.wpfbg-0{ background-color:#999999!important; }
.wpfcl-1{ color:#555555!important; } 
.wpfbg-1{ background-color:#555555!important; }
.wpfcl-2{ color:#777777!important; }
.wpfbg-2{ background-color:#777777!important; }
.wpfcl-3{ color:#ffffff!important; } 
.wpfbg-3{ background-color:#ffffff!important; }
.wpfcl-4{ color:#72ccfc!important;} 
.wpfbg-4{ background-color:#72ccfc!important; }
.wpfcl-5{ color:#ff812d!important; }
.wpfbg-5{ background-color:#ff812d!important; }
.wpfcl-6{ color:#0099cc!important; }
.wpfbg-6{ background-color:#0099cc!important; }
.wpfcl-7{ color:#e6e6e6!important; } 
.wpfbg-7{ background-color:#e6e6e6!important; }
.wpfcl-8{ color:#4dca5c!important; }
.wpfbg-8{ background-color:#4dca5c!important; }
.wpfcl-9{ color:#f5f5f5!important; }
.wpfbg-9{ background-color:#f5f5f5!important; }

#wpforo-wrap .author-rating {  border: 1px solid #e6e6e6; background: #f5f5f5; }

#wpforo-wrap .wpf-breadcrumb .wpf-root{ border-left:1px solid #666666; }
#wpforo-wrap .wpf-breadcrumb a.wpf-end { background: transparent!important; }
#wpforo-wrap .wpf-breadcrumb a.wpf-end:hover{ background: transparent!important; }
#wpforo-wrap .wpf-breadcrumb a { color:#666666; background: #ffffff;}
#wpforo-wrap .wpf-breadcrumb a:hover{ background:#f5f5f5; }
#wpforo-wrap .wpf-breadcrumb a:hover:after { background:#f5f5f5; }
#wpforo-wrap .wpf-breadcrumb a.active{ background:#f5f5f5; color:#4a8eb3; }
#wpforo-wrap .wpf-breadcrumb a.active:after { background:#f5f5f5; }
#wpforo-wrap .wpf-breadcrumb a:after { background: #ffffff; }
#wpforo-wrap .wpf-breadcrumb a.active:after { background: #f5f5f5; }

#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content img{ border:#e6e6e6 1px solid; background:#ffffff; }
#wpforo-wrap .wpforo-post .wpf-right blockquote{ border:#999999 1px dotted; background:#e6e6e6; }
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-code{ border:#e6e6e6 1px solid; background:#e6e6e6; }
#wpforo-wrap .wpforo-post .wpf-right code{ border:#e6e6e6 1px solid; background:#e6e6e6; }
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-code-title{ border-bottom:#e6e6e6 1px solid;}
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-attachments{ border:#ffffff 1px dotted; }
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-attachments img{border:#e6e6e6 2px solid; background:#ffffff; }
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-signature{ border-top:#659fbe 1px dotted; }

#wpforo-wrap .wpfl-1 .wpforo-category{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
#wpforo-wrap .wpfl-1 .cat-title{ color:#ffffff; }
#wpforo-wrap .wpfl-1 .cat-stat-posts { color:#ffffff; }
#wpforo-wrap .wpfl-1 .cat-stat-topics {color:#ffffff; }
#wpforo-wrap .wpfl-1 .forum-wrap{ border-top:#cccccc 1px solid; }
#wpforo-wrap .wpfl-1 .wpforo-forum{ background-color:#f5f5f5; }
#wpforo-wrap .wpfl-1 .wpforo-forum-description{color:#777777; }
#wpforo-wrap .wpfl-1 .wpforo-subforum{ border-top:#dadada 1px dotted; }
#wpforo-wrap .wpfl-1 .wpforo-forum-footer{ color:#999999; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics{ background-color:#ffffff; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics-tab{ color:#555555; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics-list{ color:#555555; border-bottom:#cccccc 0px solid; }

	#wpforo-wrap .wpfl-1 .wpforo-topic-head{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
	#wpforo-wrap .wpfl-1 .head-title{ color:#ffffff; }
	#wpforo-wrap .wpfl-1 .head-stat-posts { color:#ffffff; }
	#wpforo-wrap .wpfl-1 .head-stat-views { color:#ffffff; }
	#wpforo-wrap .wpfl-1 .topic-wrap{ border-top:#cccccc 1px solid; }
	#wpforo-wrap .wpfl-1 .wpforo-topic{ background-color:#f5f5f5; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-info{ color:#555555; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-stat-posts{ color:#555555; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-stat-views{ color:#555555; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts{ background-color:#ffffff; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts-tab{ color:#555555; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts-list{ color:#555555; border-bottom:#cccccc 0px solid; }

		#wpforo-wrap .wpfl-1 .post-wrap{ border-top:none; border-bottom:#e6e6e6 3px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post-head{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post{ background-color:#f5f5f5; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top{ border-bottom:1px solid #e6e6e6; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-left .avatar{ background:#ffffff; border:#e6e6e6 2px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-left .author-rating{ border:1px solid #e6e6e6; background:#f5f5f5; }
		#wpforo-wrap .wpfl-1 .wpforo-post .bottom { border-top:#e6e6e6 1px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post .bottom .bleft a{ color:#ff812d; }

#wpforo-wrap .wpfl-2 .wpforo-category{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
#wpforo-wrap .wpfl-2 .cat-title{ color:#ffffff; }
#wpforo-wrap .wpfl-2 .cat-lastpostinfo{ color:#ffffff; }
#wpforo-wrap .wpfl-2 .forum-wrap{ border-top:#cccccc 1px solid; }
#wpforo-wrap .wpfl-2 .wpforo-forum{ background-color:#f5f5f5;}
#wpforo-wrap .wpfl-2 .wpforo-forum-icon{ color:#555555; }
#wpforo-wrap .wpfl-2 .wpforo-forum-info{ color:#555555; }
#wpforo-wrap .wpfl-2 .wpforo-subforum{  border-top:#dadada 1px dotted;}
#wpforo-wrap .wpfl-2 .wpforo-forum-stat{ color:#ff812d; }
#wpforo-wrap .wpfl-2 .wpforo-last-post{ color:#555555; }
#wpforo-wrap .wpfl-2 .wpforo-last-post-avatar{ color:#555555 }
#wpforo-wrap .wpfl-2 .wpforo-last-post-avatar img{ background:#ffffff; border:1px solid #cccccc; }

	#wpforo-wrap .wpfl-2 .wpforo-topic-head{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
	#wpforo-wrap .wpfl-2 .head-title{ color:#ffffff;}
	#wpforo-wrap .wpfl-2 .head-stat-posts { color:#ffffff; }
	#wpforo-wrap .wpfl-2 .head-stat-views { color:#ffffff; }
	#wpforo-wrap .wpfl-2 .head-stat-lastpost { color:#ffffff; }
	#wpforo-wrap .wpfl-2 .topic-wrap{ border-top:#cccccc 1px solid; }
	#wpforo-wrap .wpfl-2 .wpforo-topic{ background-color:#f5f5f5; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-avatar{color:#555555; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-avatar img{ background:#ffffff; border:1px solid #cccccc; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-info{ color:#555555; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-posts{ color:#555555;}
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-views{ color:#555555;}
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-lastpost{ color:#555555;}

		#wpforo-wrap .wpfl-2 .post-wrap{ border-top:#e6e6e6 1px solid;  }
		#wpforo-wrap .wpfl-2 .wpforo-post-head{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
		#wpforo-wrap .wpfl-2 .wpforo-post{ background-color:#ffffff; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right{ background:#f5f5f5; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-bottom{ border-top:#ffffff 1px solid; background:#ffffff; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-left .avatar{ background:#ffffff; border:#e6e6e6 2px solid; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-bottom .cbleft a{color:#ff812d;}

#wpforo-wrap .wpfl-3 .wpforo-category{ background-color: #43a6df;border-bottom:#cccccc 1px solid; }
#wpforo-wrap .wpfl-3 .cat-title{ color:#ffffff; }
#wpforo-wrap .wpfl-3 .cat-stat-posts { color:#ffffff; }
#wpforo-wrap .wpfl-3 .cat-stat-answers { color:#ffffff; }
#wpforo-wrap .wpfl-3 .cat-stat-questions { color:#ffffff; }
#wpforo-wrap .wpfl-3 .forum-wrap{ border-top:#cccccc 1px solid; }
#wpforo-wrap .wpfl-3 .wpforo-forum{ background-color:#f5f5f5; }
#wpforo-wrap .wpfl-3 .wpforo-forum-icon{ color:#555555; }
#wpforo-wrap .wpfl-3 .wpforo-forum-info{ color:#555555; }
#wpforo-wrap .wpfl-3 .wpforo-subforum{ border-top:#dadada 1px dotted; }
#wpforo-wrap .wpfl-3 .wpforo-forum-footer{ color:#999999; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-posts{color:#555555;}
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-answers{ color:#555555; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-questions{color:#555555;}
#wpforo-wrap .wpfl-3 .wpforo-last-topics{ background-color:#ffffff; }
#wpforo-wrap .wpfl-3 .wpforo-last-topics-tab{ color:#555555; }
#wpforo-wrap .wpfl-3 .wpforo-last-topics-list{ color:#555555; border-bottom:#cccccc 0px solid; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic-posts{ background:#f5f5f5; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .votes{ background:#f5f5f5; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .answers{ background:#f5f5f5;  }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .views{background:#f5f5f5; }

	#wpforo-wrap .wpfl-3 .wpforo-topic-head{ background-color: #43a6df; border-bottom:#cccccc 2px solid; }
	#wpforo-wrap .wpfl-3 .head-title{ color:#ffffff; }
	#wpforo-wrap .wpfl-3 .head-stat-posts { color:#ffffff; }
	#wpforo-wrap .wpfl-3 .head-stat-lastpost { color:#ffffff; }
	#wpforo-wrap .wpfl-3 .topic-wrap{ border-top:#ffffff 1px solid; border-bottom:#e6e6e6 1px solid; }
	#wpforo-wrap .wpfl-3 .wpforo-topic{ background-color:#f5f5f5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-avatar{ color:#555555; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-avatar img{ background:#ffffff; border:1px solid #cccccc; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-info{ color:#555555; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-stat-lastpost{ color:#555555; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-status .votes{ background:#f5f5f5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-status .answers{ background:#f5f5f5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic .views{ background:#f5f5f5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic .count{border-right:1px solid #e6e6e6; border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;}
	#wpforo-wrap .wpfl-3 .wpforo-topic .wpforo-label{border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;border-left:1px solid #e6e6e6;}

		#wpforo-wrap .wpfl-3 .post-wrap{ border-top:#e6e6e6 1px solid;  }
		#wpforo-wrap .wpfl-3 .wpforo-post-head{ background-color: #43a6df; border-bottom:#cccccc 1px solid; }
		#wpforo-wrap .wpfl-3 .wpforo-post{ background-color:#ffffff; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-left .wpf-toggle-answer{ color:#00a636; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-left .wpf-toggle-not-answer{ color:#999999!important; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right{ background:#f5f5f5; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-content-top{ border-bottom:1px dotted #e6e6e6; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-tool-bar{ border-top:1px dotted #e6e6e6; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-signature-content{ border-top:#659fbe 1px dotted; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-author-data-content{ border:#ffffff 1px solid; background:#dff4ff;}
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-author-data .avatar{ background:#ffffff;  border:1px solid #cccccc; }
		#wpforo-wrap .wpfl-3 .wpforo-comment{ background-color:#ffffff; }
		#wpforo-wrap .wpfl-3 .wpforo-comment .wpf-right{  background:#f5f5f5; }

#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu .wpf-pp-menu .wpf-pp-menu-item{color: #777777; border-right:1px solid #777777; border-right:1px solid #777777;}
#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu .wpf-pp-menu .wpf-pp-menu-item:hover{color: #43a6df; border-right:1px solid #43a6df; border-right:1px solid #43a6df;}
#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu #wpf-pp-forum-menu .wpf-pp-menu-item{color:#43a6df; border-right:1px solid #43a6df;}
#wpforo-wrap .wpf-profile-section{color: #666666;}
#wpforo-wrap .wpf-profile-section .wpf-profile-section-head{border-bottom:1px solid #dadada;}
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-label{ border-bottom:#ffffff 1px solid; }
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field{ border-bottom:#ffffff 1px solid; }
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="file"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="password"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="text"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field select,
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field textarea { color:#555555; }
#wpforo-wrap .wpforo-profile-wrap .h-left{  }
#wpforo-wrap .wpforo-profile-wrap .profile-display-name{ color:#3f7796; }
#wpforo-wrap .wpforo-profile-wrap .profile-stat-data{ color:#3f7796; }
#wpforo-wrap .wpforo-profile-wrap .profile-stat-data-item{ color:#3f7796;}
#wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap{background:#ffffff;}
#wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap .rating-bar-cell{color:#ffffff;}
#wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu{border-right:#ffffff 1px solid; background:#777777; color:#ffffff; }
#wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu:hover{ background: #43a6df;}
#wpforo-wrap .wpforo-profile-wrap .h-left .avatar{ background-color:#ffffff; border:2px solid #cccccc; }
#wpforo-wrap .wpforo-profile-wrap .wpf-username{ color:#0099cc; }

#wpforo-wrap .wpforo-activity-content{ border:#e6e6e6 1px solid;  }
#wpforo-wrap .wpforo-activity-content .activity-icon{ border-right:2px solid #ffffff; }

#wpforo-wrap .wpforo-sbn-content{ border:#e6e6e6 1px solid;  }
#wpforo-wrap .wpforo-sbn-content .sbn-icon{ border-right:2px solid #ffffff; }

#wpforo-wrap .wpforo-messages-content .uml{ background: #ffffff; border-bottom: 1px solid #0099cc; }
#wpforo-wrap .wpforo-messages-content .uml:hover, .uml a:hover{ color: #ffffff !important; }
#wpforo-wrap .wpforo-messages-content .umlactive{ background: #0099cc !important; }
#wpforo-wrap .wpforo-messages-content .umlactive a{ color: #ffffff !important; }
#wpforo-wrap .wpforo-messages-content .umlactive .uml_lastmsg{ color: #ffffff !important; }
#wpforo-wrap .wpforo-messages-content .uml .uml_lastmsg{ color: #999999; }
#wpforo-wrap .wpforo-messages-content .uml-has-message{ background: rgba(255, 163, 0, 0.22); }
#wpforo-wrap .wpforo-messages-content .whr{ border-top: 1px solid #e6e6e6 !important; color: #cccccc; }
#wpforo-wrap .wpforo-messages-content .whr abbr{ background-color: #ffffff; }
#wpforo-wrap .wpforo-messages-content .pm_submit{ color: #ffffff; }

#wpforo-wrap input[type="text"], #wpforo-wrap input[type="password"], #wpforo-wrap input[type="email"], #wpforo-wrap textarea, #wpforo-wrap select { border: 1px solid #dadada; color: #777777; box-shadow: inset 0px 1px 4px #e6e6e6; -moz-box-shadow: inset 0px 1px 4px #e6e6e6; -webkit-box-shadow: inset 0px 1px 4px #e6e6e6; }
#wpforo-wrap input[type="submit"], #wpforo-wrap input[type="button"]{ background:#43a6df; color:#ffffff; border: 1px solid #0099cc; }
#wpforo-wrap input[type="submit"]:hover{ background:#0099cc; }
#wpforo-wrap input[type="button"]:hover{ background:#0099cc; }
#wpforo-wrap .wpf-button{ background:#43a6df; color:#ffffff!important; border: 1px solid #0099cc; }
#wpforo-wrap .wpf-button:hover{ background:#0099cc; }

#wpforo-wrap #wpf-topic-create{ border: solid #dadada 1px; }
#wpforo-wrap .wpf-topic-create .wp-editor-tools{ border-bottom:1px #dadada solid; }
#wpforo-wrap .wpf-topic-create .wp-editor-tabs a.switch-tmce{ border: 1px #dadada solid; }
#wpforo-wrap .wpf-topic-create .wp-editor-tabs a.switch-html{ border: 1px #dadada solid; }
#wpforo-wrap .wpf-topic-create .quicktags-toolbar input[type="button"] { background:#43a6df; color:#ffffff; }
#wpforo-wrap .wpf-topic-create .quicktags-toolbar input[type="button"]:hover{ background:#0099cc!important; }

#wpforo-wrap #wpf-post-create{ border: solid #dadada 1px; }
#wpforo-wrap .wpf-post-create .wp-editor-tools{ border-bottom:1px #dadada solid; }
#wpforo-wrap .wpf-post-create .wp-editor-tabs a.switch-tmce{ border: 1px #dadada solid; }
#wpforo-wrap .wpf-post-create .wp-editor-tabs a.switch-html{ border: 1px #dadada solid; }
#wpforo-wrap .wpf-post-create .quicktags-toolbar input[type="button"] { background:#43a6df; color:#ffffff; }
#wpforo-wrap .wpf-post-create .quicktags-toolbar input[type="button"]:hover{ background:#0099cc!important; }

#wpforo-wrap .wpforo-members-wrap .wpforo-members-content { border:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-search { border-bottom:1px solid #e6e6e6; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-avatar { border-right:2px solid #ffffff; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-regdate-head{ border-bottom:1px solid #e6e6e6; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-foot { border-top:1px solid #e6e6e6; }

#wpforo-wrap .wpforo-register-wrap .wpforo-register-content { border-top:#e6e6e6 1px solid; border-bottom:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-register-wrap td.wpf-register-label{ border-right:#ffffff 1px solid; border-bottom:#ffffff 1px solid; }
#wpforo-wrap .wpforo-register-wrap td.wpf-register-field{ border-bottom:#ffffff 1px solid; }

#wpforo-wrap .wpforo-login-wrap .wpforo-login-content { border-top:#e6e6e6 1px solid;  border-bottom:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-login-wrap td.wpf-login-label{ border-right:#ffffff 1px solid; border-bottom:#ffffff 1px solid; }
#wpforo-wrap .wpforo-login-wrap td.wpf-login-field{ border-bottom:#ffffff 1px solid; }

#wpforo-wrap .wpforo-404-wrap .wpforo-404-content { border-top:#e6e6e6 1px solid; border-bottom:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-404-wrap .wpf-search-box { border:#cccccc 1px dashed; }

#wpforo-wrap #wpforo-search-title { color:#333333; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar{ background:#f5f5f5; border:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar .wpfltd{ border-bottom:1px dotted #ffffff; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar .wpfrtd{ border-bottom:1px dotted #ffffff; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content { border-bottom:#e6e6e6 1px solid; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content .wpf-htr{ background-color:#43a6df; color:#ffffff; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content .wpf-ttr{ background:#f5f5f5 }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content td.wpf-shead-icon{ border-right:1px solid #ffffff;}
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content td.wpf-spost-icon { border-right:1px solid #ffffff;}

#wpforo-wrap .wpf-action{ color: #3f7796; }
#wpforo-wrap .wpf-action:hover{ cursor: pointer; color: #659fbe; }

#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-page-info{ color:#666666; }
#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-prev-button{ background:#43a6df; color:#ffffff; border: 1px solid #0099cc; }
#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-next-button{ background:#43a6df; color:#ffffff; border: 1px solid #0099cc; }

#wpforo-wrap  #wpforo-stat-header{ background-color:#555555; color: #ffffff; border-bottom: 2px solid #cccccc;}
#wpforo-wrap  #wpforo-stat-body{ border:#e6e6e6 1px solid; background:#f5f5f5; }
#wpforo-wrap  #wpforo-stat-body .wpf-stat-data{ }
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item{border-right:1px solid #e6e6e6;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item i{color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item .wpf-stat-value{color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item .wpf-stat-label{border-top:1px dotted #cccccc; color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-last-info i{color:#777777;}

#wpforo-wrap .widget-title { border-bottom:2px solid #e6e6e6;}
#wpforo-wrap .wpforo-widget-wrap .wpforo-widget-content li{ border-bottom:1px dotted #cccccc; }
#wpforo-wrap .pm_content{ background-color: #ffffff !important; }
div.pm_content::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
div.pm_content::-webkit-scrollbar-thumb { background: #0099cc; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
div.pm_content::-webkit-scrollbar-thumb:window-inactive { background: #0099cc; }
div.pm_content::-webkit-scrollbar-button { background-color: #4a8eb3; }

.ui-dialog { z-index: 999998 !important; }
.wpf-video{	margin: 10px !important; }

.ui-dialog .ui-widget-header{  background-color: #43a6df!important; border-bottom:#cccccc 1px solid!important; }
.ui-dialog .ui-widget-header span.ui-dialog-title{ color: #ffffff !important; }
.ui-widget input[type="submit"]:hover{ background:#0099cc; }
.ui-widget input[type="submit"]{ background:#43a6df; color:#ffffff; border: 1px solid #0099cc; }

#wpf_attach_dialog .wpforo-button{ background:#43a6df; color:#ffffff; border: 1px solid #0099cc; }
#wpf_attach_dialog .wpforo-button:hover{ background:#0099cc; }
#wpf_attach_dialog .wpforo-button-prime{ background-color:#43a6df; border:1px solid #0099cc; }
#wpf_attach_dialog .wpforo-button-prime:hover{ background-color:#0099cc; }
#wpf_attach_dialog button.delete{ background-color:#ff7575; border:1px solid #f46464; }
#wpf_attach_dialog button.delete:hover{ background-color:#f46464; }
#wpf_attach_dialog button.start{ background-color:#86ba4c; border:1px solid #6fa634; }
#wpf_attach_dialog button.start:hover{ background-color:#6fa634; }
#wpf_attach_dialog button.cancel{ background-color:#777777; border:1px solid #999999; }
#wpf_attach_dialog button.cancel:hover{ background-color:#999999; }
#wpf_attach_dialog tr.template-download span.preview img{ border:#e6e6e6 1px solid; background-color:#ffffff; }
#wpf_attach_dialog tr.template-upload span.preview img{ border:#e6e6e6 1px solid; background-color:#ffffff; }
#wpf_attach_dialog tr.template-download td .error{ font-weight:bold; color:#f46464; }

#wpf-msg-box a{color:#ffffff;}
#wpf-msg-box a:hover{color:#e6e6e6;}
.wpf-msg-box-triangle-right.top{background-color:#43a6df;background:-moz-linear-gradient(#43a6df);background:-o-linear-gradient(#43a6df);background:linear-gradient(#43a6df);}
.wpf-msg-box-triangle-right{color:#ffffff!important;}
.wpf-msg-box-triangle-right.top:after{border-color:transparent #43a6df;}
.wpf-msg-box-triangle-right:after{border-color:#43a6df transparent;}
.wpf-msg-box-triangle-right.error{background-color:#f46464;background:-moz-linear-gradient(#f46464);background:-o-linear-gradient(#f46464);background:linear-gradient(#f46464);}
.wpf-msg-box-triangle-right.error:after{border-color:transparent #f46464;}
.wpf-msg-box-triangle-right.success{background-color:#00a636;background:-moz-linear-gradient(#00a636);background:-o-linear-gradient(#00a636);background:linear-gradient(#00a636);}
.wpf-msg-box-triangle-right.success:after{border-color:transparent #00a636;}
@media screen and (max-width:600px) {
	#wpforo-wrap #wpforo-menu .wpf-menu{background-color:#555555;}
	#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top{border-top: 1px solid #e6e6e6;}
}

#wpforo-wrap.wpf-dark { color: #3f7796; } 
#wpforo-wrap.wpf-dark .wpfcl-3{ color:#3f7796!important; } 
#wpforo-wrap.wpf-dark .wpfcl-1{ color:#3f7796!important; } 
#wpforo-wrap.wpf-dark .wpf-action{ color: #3f7796; }
#wpforo-wrap.wpf-dark .wpforo-post .wpf-right .wpforo-post-content p{ color:#3f7796!important; }
#wpforo-wrap.wpf-dark #wpforo-menu li a { color: #3f7796; }
#wpforo-wrap.wpf-dark .wpfl-2 .head-stat-lastpost, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-lastpost{ color: #3f7796; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-post{ color: #3f7796; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-lastpost, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-lastpost{ color: #3f7796; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-forum-description, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-forum-description{ color: #3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .cat-title, #wpforo-wrap.wpf-dark .wpfl-2 .cat-title, #wpforo-wrap.wpf-dark .wpfl-3 .cat-title{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-category div, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-category div, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-category div{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-last-topic-date, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-topic-date, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-last-topic-date{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-1 .wpforo-topic-stat-views{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-views{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-views{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-last-post-date, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-post-date, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-last-post-date{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-title, #wpforo-wrap.wpf-dark .wpfl-2 .head-title, #wpforo-wrap.wpf-dark .wpfl-3 .head-title{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-stat-posts, #wpforo-wrap.wpf-dark .wpfl-2 .head-stat-posts, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-posts{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-stat-views, #wpforo-wrap.wpf-dark .wpfl-2 .head-stat-views, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-views{ color:#3f7796; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-post .wpf-left, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-post .wpf-left, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-post .wpf-left{ color:#3f7796; }
#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top, #wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-top, #wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-content-top{ color:#3f7796; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-questions, #wpforo-wrap .wpfl-3 .wpforo-forum-stat-answers, #wpforo-wrap .wpfl-3 .wpforo-forum-stat-posts{ color:#3f7796; }
#wpforo-wrap.wpf-dark #wpforo-stat-header{ color: #3f7796; border-bottom: 1px solid #cccccc;}
#wpforo-wrap.wpf-dark #wpforo-stat-body .wpf-last-info p.wpf-topic-icons{border-top: 1px dotted #cccccc;}
#wpforo-wrap.wpf-dark .wpf-button{ color:#3f7796!important; }
#wpforo-wrap.wpf-dark .wpf-topic-create .wpf-subject{background-color:#333333}
#wpforo-wrap.wpf-dark #wpf-topic-create{background-color:#f5f5f5}
#wpforo-wrap.wpf-dark #wpf-topic-create div.mce-toolbar-grp{background-color:#f5f5f5}
#wpforo-wrap.wpf-dark .wpf-post-create .wpf-subject{background-color:#333333}
#wpforo-wrap.wpf-dark #wpf-post-create{background-color:#f5f5f5}
#wpforo-wrap.wpf-dark #wpf-post-create div.mce-toolbar-grp{background-color:#f5f5f5}
#wpforo-wrap.wpf-dark input[type="submit"], #wpforo-wrap.wpf-dark input[type="button"]{color:#3f7796!important;}
#wpforo-wrap.wpf-dark input[type="text"], #wpforo-wrap.wpf-dark input[type="password"], #wpforo-wrap.wpf-dark input[type="email"], #wpforo-wrap.wpf-dark textarea, #wpforo-wrap.wpf-dark select{color:#555555;background:#333333}
#wpforo-wrap.wpf-dark input[type="text"].wpf-search-field{background-color:transparent; color:#3f7796; }
#wpforo-wrap.wpf-dark #wpforo-stat-body{border:none;}
#wpforo-wrap.wpf-dark .wpforo-members-content table tr{ background-color:#f5f5f5!important; }

#wpforo-wrap .wpforo-forum-title{font-size: 15px!important; line-height: 16px!important;}
#wpforo-wrap .wpforo-topic-title a { font-size: 14px!important; line-height: 18px!important; }
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content {font-size: 13px!important; line-height: 17px!important;}
#wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content p {font-size: 13px;}
#wpforo-wrap {
   font-size: 13px; width: 100%; margin:20px;
}
input[type="text"]{color:#222;}